*{
    margin:0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    line-height:1.6;
    text-align:center;

}
.hero-image{
    background-image:url("img/blue-gradient.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.container{
    max-width: 960px;
    margin: auto;
    padding: 0 30px;
    margin-top: 15px;
}

#showcase{
    height: 360px;

}

#showcase h1{
    font-size: 50px;
    line-height: 1.3;
    position: relative;
    animation-name: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes heading {
    0% {top: -50px; }
    100% {top: 200px;}
}

#content{
    position: relative;
    animation: content;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

@keyframes content {
    0% {left: -1000px; }
    100% {left: 0;}
}

.btn1{
    display: inline-block;
    color: white;
    text-decoration: none;
    border:white 1px solid;
    padding: 1rem 2rem;
    margin-top: 5px;
    opacity: 0;
    animation-name: btn;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode:forwards;

    transition-property: transform;
    transition-duration: 1s;
}


@keyframes btn {
    0% {opacity: 0; }
    100% {opacity: 1;}
}
.row{
    color: black;
    
}
.nava{
    
}