@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html, body{
    height: 100%;
    width: 100%;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
    color: #222;
    line-height:1.6;
    text-align:center;
}

.hero-image{
    background-image:url("img/blue-gradient.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.nav-link {
    font-size: 1.1em !important;
}

#showcase{
    height: 360px;

}

#showcase h1{
    font-size: 50px;
    margin: 2px;
    line-height: 1.3;
    position: relative;
    animation-name: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes heading {
    0% {top: -50px; }
    100% {top: 200px;}
}

.btn1{
    display: inline-block;
    color: white;
    text-decoration: none;
    border:white 1px solid;
    padding: 1rem 2rem;
    margin-top: 5px;
    opacity: 0;
    animation-name: btn;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode:forwards;

    transition-property: transform;
    transition-duration: 1s;
}


@keyframes btn {
    0% {opacity: 0; }
    100% {opacity: 1;}
}
.row{
    color: black;
    
}
.jumbotron{
    padding: 1rem;
    border-radius: 0;
    background-color: rgb(229, 240, 248);
}

.padding{
    padding-bottom: 2rem;
}
.pada{
    padding-top: 2rem;
}

.social a{
    font-size: 4.5em;
    padding: 3rem;
}
.fa-facebook{
    color: #3b5998;
}
.fa-twitter{
    color: #00aced;
}
.fa-google-plus{
    color: #dd4b39;
}
.fa-Instagram{
    color: #517fa4;
}
.fa-linkedin{
    color: #0077b5;
}

footer{
    background-color: #132d54;
    color: #c1d5db;
    padding: 2rem;
}
footer a{
    color: white
}
hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
}

/*-- Media Queries--*/

@media (max-width : 992px ){
    .social a{
        font-size: 4em;
        padding: 2rem;
    }
}
@media (max-width : 768px ){

}
@media (max-width : 576px ){

}